<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606879734435-ds3cjijms4tecc4cl56lgf2p49u1hjtt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606879734435-ds3cjijms4tecc4cl56lgf2p49u1hjtt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>606879734435-na9stsvpmpcfbodk01hj073alccta5d1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC8mDb3dwMfmMNAxauf5KD0SmYcATxbtpE</string>
	<key>GCM_SENDER_ID</key>
	<string>606879734435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.subscription.subscriptionApp</string>
	<key>PROJECT_ID</key>
	<string>fir-test-8473c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-8473c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606879734435:ios:d71a987273ea103651bd16</string>
</dict>
</plist>